faster-whisper==0.7.1
fsspec==2023.5.0
gitdb==4.0.9
GitPython==3.1.27
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
huggingface-hub==0.15.1
idna==3.3
image==1.5.33
imageio==2.25.1
imageio-ffmpeg==0.4.8
numba==0.56.4
numpy==1.23.0
openai-whisper @ git+https://github.com/openai/whisper.git@e8622f9afc4eba139bf796c210f5c01081000472
opencv-python==4.7.0.72
Pillow==9.0.1
pyrsistent==0.18.1
pysrt==1.1.2
python-dateutil==2.8.2
Python-EasyConfig==0.1.7
python-version==0.0.2
streamlit==1.26.0

