faster-whisper==0.7.1
moviepy==2.0.0.dev2
nltk==3.5
nomic==1.1.14
notebook==6.4.12
numba==0.56.4
numpy==1.23.0
openai-whisper @ git+https://github.com/openai/whisper.git@e8622f9afc4eba139bf796c210f5c01081000472
opencv-python==4.7.0.72
pandas==1.3.3
safetensors==0.3.1
scikit-learn==0.24.2
scipy==1.8.0
Send2Trash==1.8.0
sentencepiece==0.1.99
service-identity==23.1.0
six==1.16.0
sklearn==0.0
smmap==5.0.0
soundfile==0.11.0
soupsieve==2.3.2.post1
streamlit==0.88.0
sympy==1.11.1
tensorflow==2.11.0
transformers @ git+https://github.com/huggingface/transformers@ba695c1efd55091e394eb59c90fb33ac3f9f0d41
typing_extensions==4.6.3
